[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-login = "*"
flask-wtf = "*"
wtforms = "*"

[requires]
python_version = "3.7"
